.hcatfilter{}
.hcatfilter .hcatfilter-text{margin: 10px 0;}
.hcatfilter .hcatfilter-select{margin: 10px 0;}
.hcatfilter .hcatfilter-select select{display: block;margin: 10px 0;padding: 3px 12px;min-width: 88%;}
.hcatfilter .hcatfilter-button{}
.hcatfilter .hcatfilter-button input{}